body {
    background-color: #f9f9f9;
  }
  
  .container {
    background-color: #f0f8ff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #6a5acd;
    text-align: center;
  }
  
  .form-control {
    border: 1px solid #dcdcdc;
    border-radius: 5px;
  }
  
  .btn-primary {
    background-color: #87cefa;
    border-color: #87cefa;
  }
  
  .btn-primary:hover {
    background-color: #00bfff;
    border-color: #00bfff;
  }