body {
    background: url("../img/fondoLogin.png") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Contenedor del login */
.glass-container {
    width: 400px;
    padding: 30px;
    border-radius: 15px;
    background: rgba(187, 146, 139, 0.342);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(3, 3, 3, 0.2);
    text-align: center;
    color: white;
    margin: auto;
    margin-top: 10%;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Inputs con estilo glass */
.glass-container input {
    background: rgba(99, 98, 98, 0.2);
    border: none;
    color: white;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    outline: none;
}

.glass-container input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

/* Botón con efecto */
.glass-container button {
    background:#e8705f;
    border: none;
    color: white;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.glass-container button:hover {
    background:#ea9383;
}

/* Icono de usuario */
.user-icon {
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}

