.contenedorCalculadora {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 20vh;
    width: 60vw;
}

.tablaCalculadora {
    border-collapse: collapse;
    width: 500vw;
}


.tablaCalculadora td {
    padding: 0;
    /* Sin espacio extra alrededor de los botones */
}

.tablaCalculadora button {
    width: 100%;
    /* El botón ocupa el ancho completo de la celda */
    padding: 20px;
    /* Espaciado interno para que los botones sean grandes */
    font-size: 1.7rem;
    /* Tamaño del texto */
    background-color: #f0f0f0;
    /* Borde del botón */
    cursor: pointer;
    /*color negro del texto*/
    color: black;
    border-radius: 0%;
    border-color: rgb(185, 185, 185);

}

/* Botones de acción con color naranja */
.tablaCalculadora button.botonAccion {
    background-color: rgb(255, 166, 0);
    /* Color de fondo naranja */
    color: white;
    /* Texto blanco */
}

.tablaCalculadora button:active {
    background-color: #ddd;
    /* Color al hacer clic */
}

.tablaCalculadora .wide {
    width: 100%;
    /* Asegura que ocupe toda la celda combinada */
}

.varia {
    text-align: right;
    width: 100%;
    font-size: 1.7rem;
}