.botonBusqueda {
    align-items: center;
    padding: 10px;
    background-color: #ffb6c1;
    /* Rosa claro */
    border: none;
    border-radius: 10px;
    color: white;
    font: 16px Arial, sans-serif;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.botonBusqueda:hover {
    background-color: #ff9aa2;
    /* Rosa pastel */
}

.botonBusqueda:active {
    background-color: #ffccd5;
    /* Rosa más claro */
}

.formulario {
    width: 80vw;
    padding-left: 3%;
    background-color: #ffe4e1;
    /* Fondo rosa claro */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formulario h1 {
    color: #ff6f91;
    /* Título rosa */
}